h4
{
	text-align: center;
}

.soundboard
{
	display: flex;
	justify-content: space-around;	
	flex-wrap: wrap;
}

.soundboard .btn
{
	margin: 5px 5px 5px 5px;
	width: 10%;
	padding-top: 10%;
	text-align: center;
	top:0;
}

.soundboard .btn span
{
	margin-top: 25%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.center-div {
	margin-top: 50px;
}