h4
{
	text-align: center;
}

.soundboard
{
	display: flex;
	justify-content: space-around;	
}

.soundboard .btn
{
	margin: 5px 5px 5px 5px;
	width: 10%;
	padding-top: 10%;
	text-align: center;
	top:0;
}
.center-div {
	margin-top: 50px;
	margin-left: 500px;
}